################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RFPPortal
/RFPPortalWebsite/bin
/RFPPortalWebsite/obj
/RFPPortalWebsite/Properties/PublishProfiles
*.user
