/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f3f5f7;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 50px; /* Vertically center the text there */
}


/**********Cards************/

/* This pen */
body {
    font-family: "Cairo", sans-serif;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    font-weight: initial;
}

.dark {
    background: #110f16;
}

.light {
    background: #f3f5f7;
}

a,
a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3.5rem;
    font-size: 3rem;
}

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

    .postcard.dark {
        background-color: #18151f;
    }

    .postcard.light {
        background-color: #e1e5ea;
    }

    .postcard .t-dark {
        color: #18151f;
    }

    .postcard a {
        color: inherit;
    }

    .postcard h1,
    .postcard .h1 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .postcard .small {
        font-size: 80%;
    }

    .postcard .postcard__title {
        font-size: 1.75rem;
    }

    .postcard .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }

    .postcard .postcard__img_link {
        display: contents;
    }

    .postcard .postcard__bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease;
    }

    .postcard .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .postcard .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }

    .postcard .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;
    }

        .postcard .postcard__tagbox .tag__item {
            display: inline-block;
            background: rgb(236, 236, 236);
            border-radius: 5px;
            padding: 2.5px 10px;
            margin: 0 5px 5px 0;
            cursor: default;
            user-select: none;
            transition: background-color 0.3s;
            border: 1px solid #c4c4c4;
        }

            .postcard .postcard__tagbox .tag__item:hover {
                background: rgba(83, 83, 83, 0.3);
            }

    .postcard:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, #424242, transparent 50%);
        opacity: 1;
        border-radius: 10px;
    }

    .postcard:hover .postcard__bar {
        width: 100px;
    }

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

        .postcard .postcard__title {
            font-size: 2rem;
        }

        .postcard .postcard__tagbox {
            justify-content: start;
        }

        .postcard .postcard__img {
            max-width: 300px;
            max-height: 100%;
            transition: transform 0.3s ease;
        }

        .postcard .postcard__text {
            padding: 3rem;
            width: 100%;
        }

        .postcard .media.postcard__text2:before {
            content: "";
            position: absolute;
            display: block;
            background: #18151f;
            top: -20%;
            height: 130%;
            width: 55px;
        }

        .postcard:hover .postcard__img {
            transform: scale(1.1);
        }

        .postcard:nth-child(2n+1) {
            flex-direction: row;
        }

        .postcard:nth-child(2n+0) {
            flex-direction: row-reverse;
        }

        .postcard:nth-child(2n+1) .postcard__text2::before {
            left: -12px !important;
            transform: rotate(4deg);
        }

        .postcard:nth-child(2n+0) .postcard__text2::before {
            right: -12px !important;
            transform: rotate(-4deg);
        }
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard__text2:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.dark .postcard__text2:before {
        background: #18151f;
    }

    .postcard.light .postcard__text2:before {
        background: #e1e5ea;
    }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
}

.green .postcard__title:hover {
    color: #79dd09;
}

.green .postcard__bar {
    background-color: #79dd09;
}

.green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
}

.blue .postcard__title:hover {
    color: #0076bd;
}

.blue .postcard__bar {
    background-color: #0076bd;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
}

.red .postcard__title:hover {
    color: #bd150b;
}

.red .postcard__bar {
    background-color: #bd150b;
}

.red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
}

.yellow .postcard__title:hover {
    color: #bdbb49;
}

.yellow .postcard__bar {
    background-color: #bdbb49;
}

.yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
    .green::before {
        background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    .green:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    .blue::before {
        background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    .red::before {
        background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    .yellow::before {
        background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }

    .yellow:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
}

.dot_blue {
    color: #1A99FF
}

.dot_green {
    color: rgb(0, 249, 62);
}

.dot_red {
    color: #ff5959;
}

.cursor-pointer {
    cursor: pointer;
}

.btn:focus {
    outline: none
}

#headerDiv {
    width: 100%;
    height: 300px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M-99.17 354.71L-99.17 354.71' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-99.17 354.71L-68.77 500.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-99.17 354.71L59.52 355.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-99.17 354.71L62.18 549.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-68.77 500.32L-68.77 500.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-68.77 500.32L62.18 549.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-68.77 500.32L59.52 355.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-68.77 500.32L68.12 640.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-68.77 500.32L-52.03 699.72' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-68.77 500.32L212.02 374.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-52.03 699.72L-52.03 699.72' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-52.03 699.72L68.12 640.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-52.03 699.72L62.18 549.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M59.52 355.14L59.52 355.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M59.52 355.14L212.02 374.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M62.18 549.82L62.18 549.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M62.18 549.82L68.12 640.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M62.18 549.82L238.02 556.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M68.12 640.35L68.12 640.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M212.02 374.8L212.02 374.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M212.02 374.8L342.89 370.02' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M212.02 374.8L238.02 556.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M238.02 556.77L238.02 556.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M238.02 556.77L227.81 671.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M238.02 556.77L354.65 682.11' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M238.02 556.77L68.12 640.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M227.81 671.3L227.81 671.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M227.81 671.3L354.65 682.11' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M227.81 671.3L68.12 640.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M227.81 671.3L62.18 549.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M227.81 671.3L-52.03 699.72' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M227.81 671.3L521.5 649.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M342.89 370.02L342.89 370.02' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M342.89 370.02L494.97 408.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M342.89 370.02L238.02 556.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M354.65 682.11L354.65 682.11' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M354.65 682.11L521.5 649.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M354.65 682.11L547.37 490.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M354.65 682.11L68.12 640.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M494.97 408.64L494.97 408.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M494.97 408.64L547.37 490.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M494.97 408.64L642.22 361.84' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M494.97 408.64L702.28 515.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M494.97 408.64L521.5 649.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M494.97 408.64L670.18 213.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.37 490.29L547.37 490.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.37 490.29L702.28 515.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.37 490.29L642.22 361.84' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.37 490.29L521.5 649.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.37 490.29L342.89 370.02' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.37 490.29L683.53 704.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M521.5 649.58L521.5 649.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M521.5 649.58L683.53 704.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M521.5 649.58L702.28 515.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M670.18 213.1L670.18 213.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M670.18 213.1L788.02 187.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M670.18 213.1L642.22 361.84' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M670.18 213.1L847.34 401.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M670.18 213.1L954.78 234.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M642.22 361.84L642.22 361.84' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M702.28 515.24L702.28 515.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M702.28 515.24L800.19 536.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M702.28 515.24L642.22 361.84' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M683.53 704.26L683.53 704.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M683.53 704.26L830.01 694.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M683.53 704.26L702.28 515.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M683.53 704.26L800.19 536.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M788.02 187.83L788.02 187.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M788.02 187.83L954.78 234.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.34 401.54L847.34 401.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.34 401.54L974.19 372.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.34 401.54L800.19 536.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.34 401.54L702.28 515.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.34 401.54L954.78 234.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.34 401.54L642.22 361.84' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M800.19 536.13L800.19 536.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M800.19 536.13L830.01 694.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M830.01 694.3L830.01 694.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M830.01 694.3L949.01 705.5' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M830.01 694.3L702.28 515.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M950.51 -58.56L950.51 -58.56' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M950.51 -58.56L988.53 89.04' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M950.51 -58.56L1127.41 -58.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M950.51 -58.56L1108.09 73.56' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M950.51 -58.56L954.78 234.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M950.51 -58.56L788.02 187.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M950.51 -58.56L1275.78 -103.46' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.53 89.04L988.53 89.04' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.53 89.04L1108.09 73.56' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.53 89.04L954.78 234.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.53 89.04L1127.41 -58.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.53 89.04L788.02 187.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M954.78 234.1L954.78 234.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M954.78 234.1L974.19 372.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M954.78 234.1L1148.12 258.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M954.78 234.1L1108.09 73.56' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M974.19 372.42L974.19 372.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M974.19 372.42L1109.85 406.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M949.01 705.5L949.01 705.5' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M949.01 705.5L1160.04 688.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M949.01 705.5L800.19 536.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1127.41 -58.44L1127.41 -58.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1127.41 -58.44L1108.09 73.56' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1127.41 -58.44L1275.78 -103.46' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1127.41 -58.44L1289.04 87.93' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1108.09 73.56L1108.09 73.56' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1108.09 73.56L1289.04 87.93' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1108.09 73.56L1148.12 258.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1148.12 258.92L1148.12 258.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1148.12 258.92L1257.74 236.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1148.12 258.92L1109.85 406.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1148.12 258.92L1272.36 366.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1109.85 406.65L1109.85 406.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.56 556.13L1121.56 556.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.56 556.13L1160.04 688.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.56 556.13L1109.85 406.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.56 556.13L1269.35 667.12' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.56 556.13L949.01 705.5' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.56 556.13L974.19 372.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.56 556.13L1272.36 366.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1160.04 688.91L1160.04 688.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1160.04 688.91L1269.35 667.12' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1160.04 688.91L1414.83 665.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1160.04 688.91L1109.85 406.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1275.78 -103.46L1275.78 -103.46' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1275.78 -103.46L1425.2 -104.27' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1275.78 -103.46L1289.04 87.93' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1275.78 -103.46L1445.06 45.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1275.78 -103.46L1108.09 73.56' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1275.78 -103.46L1574.99 -107.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1289.04 87.93L1289.04 87.93' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1289.04 87.93L1257.74 236.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1289.04 87.93L1445.06 45.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1257.74 236.42L1257.74 236.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1257.74 236.42L1272.36 366.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1272.36 366.39L1272.36 366.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1269.35 667.12L1269.35 667.12' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1269.35 667.12L1414.83 665.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1269.35 667.12L1394.7 503.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1269.35 667.12L1559.81 690.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1425.2 -104.27L1425.2 -104.27' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1425.2 -104.27L1574.99 -107.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1425.2 -104.27L1445.06 45.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1425.2 -104.27L1562.87 63.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.06 45.41L1445.06 45.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.06 45.41L1562.87 63.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.04 242.11L1426.04 242.11' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.04 242.11L1541.12 359.23' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.04 242.11L1257.74 236.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1433.39 412.35L1433.39 412.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1433.39 412.35L1394.7 503.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1433.39 412.35L1541.12 359.23' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1433.39 412.35L1272.36 366.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1394.7 503.22L1394.7 503.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1394.7 503.22L1414.83 665.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1394.7 503.22L1272.36 366.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1394.7 503.22L1541.12 359.23' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.83 665.26L1414.83 665.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.83 665.26L1559.81 690.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.83 665.26L1433.39 412.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1574.99 -107.41L1574.99 -107.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1574.99 -107.41L1562.87 63.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1574.99 -107.41L1445.06 45.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1562.87 63.9L1562.87 63.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1562.87 63.9L1597.47 246.66' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1562.87 63.9L1426.04 242.11' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1562.87 63.9L1289.04 87.93' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1597.47 246.66L1597.47 246.66' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1597.47 246.66L1541.12 359.23' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1597.47 246.66L1426.04 242.11' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1597.47 246.66L1433.39 412.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1541.12 359.23L1541.12 359.23' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1559.81 690.2L1559.81 690.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1559.81 690.2L1394.7 503.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1559.81 690.2L1433.39 412.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='5' cx='-99.17' cy='354.71' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='-68.77' cy='500.32' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='-52.03' cy='699.72' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='59.52' cy='355.14' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='62.18' cy='549.82' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='68.12' cy='640.35' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='212.02' cy='374.8' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='238.02' cy='556.77' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='227.81' cy='671.3' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='342.89' cy='370.02' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='354.65' cy='682.11' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='494.97' cy='408.64' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='547.37' cy='490.29' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='521.5' cy='649.58' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='670.18' cy='213.1' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='642.22' cy='361.84' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='702.28' cy='515.24' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='683.53' cy='704.26' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='788.02' cy='187.83' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='847.34' cy='401.54' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='800.19' cy='536.13' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='830.01' cy='694.3' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='950.51' cy='-58.56' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='988.53' cy='89.04' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='954.78' cy='234.1' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='974.19' cy='372.42' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='949.01' cy='705.5' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1127.41' cy='-58.44' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1108.09' cy='73.56' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1148.12' cy='258.92' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1109.85' cy='406.65' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1121.56' cy='556.13' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1160.04' cy='688.91' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1275.78' cy='-103.46' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1289.04' cy='87.93' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1257.74' cy='236.42' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1272.36' cy='366.39' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1269.35' cy='667.12' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1425.2' cy='-104.27' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1445.06' cy='45.41' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1426.04' cy='242.11' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1433.39' cy='412.35' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1394.7' cy='503.22' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1414.83' cy='665.26' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1574.99' cy='-107.41' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1562.87' cy='63.9' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1597.47' cy='246.66' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1541.12' cy='359.23' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1559.81' cy='690.2' fill='%23132e65'%3e%3c/circle%3e%3cpath d='M672.61 538.65L672.61 538.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M672.61 538.65L640.1 648.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M672.61 538.65L545.71 558.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M672.61 538.65L835.29 553.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1158.87 226.56L1158.87 226.56' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1158.87 226.56L1297.6 212.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1158.87 226.56L1101.36 378.36' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.98 639.38L1284.98 639.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.98 639.38L1289.92 548.67' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.98 639.38L1395.17 662.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.98 639.38L1398.83 556.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.98 639.38L1147.89 709.37' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1398.83 556.09L1398.83 556.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1398.83 556.09L1395.17 662.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1398.83 556.09L1289.92 548.67' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1398.83 556.09L1426.01 398.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1398.83 556.09L1309.04 398.12' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1395.17 662.64L1395.17 662.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1395.17 662.64L1289.92 548.67' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1395.17 662.64L1598.95 673.76' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1395.17 662.64L1147.89 709.37' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M67.96 547.72L67.96 547.72' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M67.96 547.72L99.47 656.56' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M67.96 547.72L209.11 496.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M67.96 547.72L340.46 640.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M67.96 547.72L356.59 529.22' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M67.96 547.72L545.71 558.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M99.47 656.56L99.47 656.56' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M99.47 656.56L209.11 496.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M99.47 656.56L340.46 640.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M99.47 656.56L356.59 529.22' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M99.47 656.56L539.76 676.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M209.11 496.18L209.11 496.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M209.11 496.18L356.59 529.22' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M209.11 496.18L340.46 640.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M356.59 529.22L356.59 529.22' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M356.59 529.22L340.46 640.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M340.46 640.75L340.46 640.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M340.46 640.75L539.76 676.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M340.46 640.75L545.71 558.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M560.67 404.03L560.67 404.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M560.67 404.03L688.77 373.52' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M545.71 558.24L545.71 558.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M545.71 558.24L539.76 676.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M539.76 676.24L539.76 676.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M539.76 676.24L640.1 648.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M539.76 676.24L672.61 538.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M688.77 373.52L688.77 373.52' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M688.77 373.52L802.04 384.74' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M688.77 373.52L672.61 538.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M640.1 648.57L640.1 648.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M640.1 648.57L545.71 558.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M640.1 648.57L827.78 681.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M640.1 648.57L835.29 553.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M802.04 384.74L802.04 384.74' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M802.04 384.74L835.29 553.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M835.29 553.14L835.29 553.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M835.29 553.14L827.78 681.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M827.78 681.83L827.78 681.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M827.78 681.83L672.61 538.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.65 237.77L988.65 237.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.65 237.77L981.95 400.37' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.65 237.77L1158.87 226.56' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.65 237.77L1101.36 378.36' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M981.95 400.37L981.95 400.37' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M981.95 400.37L1101.36 378.36' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M981.95 400.37L999.11 525.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.11 525.77L999.11 525.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.11 525.77L1109.78 558.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.11 525.77L835.29 553.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.11 525.77L1101.36 378.36' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.11 525.77L827.78 681.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1161.11 -82.16L1161.11 -82.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1161.11 -82.16L1304.67 -53.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1161.11 -82.16L1263.9 53.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1161.11 -82.16L1431.41 -101.42' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1161.11 -82.16L1158.87 226.56' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1101.36 378.36L1101.36 378.36' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1109.78 558.14L1109.78 558.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1109.78 558.14L1147.89 709.37' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1109.78 558.14L1101.36 378.36' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1109.78 558.14L1289.92 548.67' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1109.78 558.14L1284.98 639.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1109.78 558.14L981.95 400.37' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1147.89 709.37L1147.89 709.37' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1147.89 709.37L1289.92 548.67' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1147.89 709.37L999.11 525.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1147.89 709.37L1398.83 556.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1304.67 -53.9L1304.67 -53.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1304.67 -53.9L1263.9 53.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1304.67 -53.9L1431.41 -101.42' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1304.67 -53.9L1538.26 59.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1304.67 -53.9L1297.6 212.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1304.67 -53.9L1426.39 193.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1263.9 53.78L1263.9 53.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1263.9 53.78L1297.6 212.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1263.9 53.78L1158.87 226.56' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1263.9 53.78L1426.39 193.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1297.6 212.03L1297.6 212.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1297.6 212.03L1426.39 193.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1297.6 212.03L1309.04 398.12' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.04 398.12L1309.04 398.12' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.04 398.12L1426.01 398.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.04 398.12L1289.92 548.67' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.04 398.12L1101.36 378.36' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1289.92 548.67L1289.92 548.67' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1431.41 -101.42L1431.41 -101.42' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.39 193.9L1426.39 193.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.39 193.9L1538.26 59.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.39 193.9L1426.01 398.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.01 398.65L1426.01 398.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.01 398.65L1608.69 337.58' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.01 398.65L1289.92 548.67' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.01 398.65L1607.59 489.2' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1600.67 -98.83L1600.67 -98.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1600.67 -98.83L1431.41 -101.42' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1600.67 -98.83L1538.26 59.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1538.26 59.38L1538.26 59.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1538.26 59.38L1431.41 -101.42' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1538.26 59.38L1263.9 53.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.69 337.58L1608.69 337.58' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.69 337.58L1607.59 489.2' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.69 337.58L1426.39 193.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.69 337.58L1538.26 59.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.69 337.58L1398.83 556.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.69 337.58L1309.04 398.12' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1607.59 489.2L1607.59 489.2' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1607.59 489.2L1598.95 673.76' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1607.59 489.2L1398.83 556.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1607.59 489.2L1395.17 662.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1607.59 489.2L1309.04 398.12' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1598.95 673.76L1598.95 673.76' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1598.95 673.76L1398.83 556.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1598.95 673.76L1284.98 639.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1598.95 673.76L1426.01 398.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1598.95 673.76L1289.92 548.67' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='25' cx='672.61' cy='538.65' fill='url(%23SvgjsRadialGradient1015)'%3e%3c/circle%3e%3ccircle r='25' cx='1158.87' cy='226.56' fill='url(%23SvgjsRadialGradient1015)'%3e%3c/circle%3e%3ccircle r='25' cx='1284.98' cy='639.38' fill='url(%23SvgjsRadialGradient1015)'%3e%3c/circle%3e%3ccircle r='25' cx='1398.83' cy='556.09' fill='url(%23SvgjsRadialGradient1015)'%3e%3c/circle%3e%3ccircle r='25' cx='1395.17' cy='662.64' fill='url(%23SvgjsRadialGradient1015)'%3e%3c/circle%3e%3ccircle r='5' cx='67.96' cy='547.72' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='99.47' cy='656.56' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='209.11' cy='496.18' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='356.59' cy='529.22' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='340.46' cy='640.75' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='560.67' cy='404.03' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='545.71' cy='558.24' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='539.76' cy='676.24' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='688.77' cy='373.52' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='640.1' cy='648.57' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='802.04' cy='384.74' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='835.29' cy='553.14' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='827.78' cy='681.83' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='988.65' cy='237.77' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='981.95' cy='400.37' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='999.11' cy='525.77' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1161.11' cy='-82.16' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1101.36' cy='378.36' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1109.78' cy='558.14' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1147.89' cy='709.37' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1304.67' cy='-53.9' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1263.9' cy='53.78' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1297.6' cy='212.03' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1309.04' cy='398.12' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1289.92' cy='548.67' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1431.41' cy='-101.42' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1426.39' cy='193.9' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1426.01' cy='398.65' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1600.67' cy='-98.83' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1538.26' cy='59.38' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1608.69' cy='337.58' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1607.59' cy='489.2' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1598.95' cy='673.76' fill='%238b9ad9'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient id='SvgjsRadialGradient1015'%3e%3cstop stop-color='white' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%231735b3' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(23%2c 53%2c 179%2c 0)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c364.516C69.434%2c365.87%2c137.037%2c341.651%2c194.541%2c302.712C251.178%2c264.36%2c291.485%2c208.287%2c321.489%2c146.819C352.103%2c84.103%2c375.105%2c16.51%2c368.142%2c-52.931C361.014%2c-124.024%2c334.795%2c-196.158%2c282.245%2c-244.567C231.687%2c-291.142%2c157.268%2c-291.797%2c90.611%2c-308.594C26.795%2c-324.675%2c-36.423%2c-357.534%2c-100.102%2c-340.917C-164.412%2c-324.136%2c-214.187%2c-273.139%2c-252.737%2c-218.998C-289.001%2c-168.068%2c-298.464%2c-105.966%2c-311.006%2c-44.716C-324.343%2c20.414%2c-350.621%2c87.306%2c-328.282%2c149.921C-305.329%2c214.256%2c-246.901%2c257.845%2c-189.726%2c295.22C-132.205%2c332.821%2c-68.707%2c363.176%2c0%2c364.516' fill='%230b2138'%3e%3c/path%3e%3cpath d='M1440 1149.438C1557.768 1168.999 1683.093 1158.6109999999999 1787.488 1100.702 1895.067 1041.027 1998.784 946.8109999999999 2022.8 826.156 2046.216 708.516 1939.941 608.396 1908.52 492.637 1882.141 395.453 1909.755 285.255 1853.338 201.841 1794.297 114.54700000000003 1697.981 55.06900000000002 1595.62 30.005999999999972 1495.496 5.490000000000009 1391.95 30.956000000000017 1294.669 65.04899999999998 1201.243 97.791 1111.654 144.56400000000002 1049.313 221.46699999999998 988.085 296.997 973.198 395.078 950.492 489.619 925.455 593.865 868.975 702.998 909.858 802.108 950.904 901.613 1069.507 937.413 1159.542 996.4010000000001 1250.466 1055.971 1332.769 1131.627 1440 1149.438' fill='%23113356'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#footerDiv {
    width: 100%;
    height: 50px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c561.183C108.801%2c565.357%2c213.079%2c531.866%2c310.282%2c482.808C416.165%2c429.369%2c532.186%2c373.399%2c583.722%2c266.577C635.538%2c159.174%2c600.76%2c34.099%2c583.699%2c-83.923C566.651%2c-201.857%2c577.202%2c-344.952%2c484.499%2c-419.821C390.83%2c-495.47%2c248.048%2c-417.514%2c131.804%2c-448.882C19.594%2c-479.162%2c-61.992%2c-622.594%2c-175.571%2c-597.939C-287.65%2c-573.61%2c-310.187%2c-420.465%2c-387.855%2c-336.078C-468.859%2c-248.066%2c-631.957%2c-211.439%2c-641.066%2c-92.171C-650.338%2c29.223%2c-493.113%2c92.506%2c-428.469%2c195.675C-375.075%2c280.89%2c-371.857%2c394.311%2c-295.351%2c459.575C-214.505%2c528.541%2c-106.188%2c557.109%2c0%2c561.183' fill='%230b2138'%3e%3c/path%3e%3cpath d='M1440 1032.108C1537.187 1024.437 1643.635 1057.176 1725.127 1003.6669999999999 1806.468 950.2570000000001 1816.2939999999999 838.44 1864.061 753.662 1917.391 659.009 2037.1689999999999 583.899 2022.271 476.282 2007.385 368.755 1881.163 318.28499999999997 1794.702 252.649 1724.444 199.31400000000002 1642.605 174.22500000000002 1566.234 130.086 1460.217 68.81299999999999 1379.331-78.72799999999995 1258.812-57.07000000000005 1142.057-36.087999999999965 1128.388 133.022 1050.76 222.721 973.2 312.341 813.694 350.429 803.928 468.547 794.024 588.331 948.569 652.662 1006.5029999999999 757.971 1058.313 852.148 1033.5529999999999 993.633 1124.4 1051.083 1215.315 1108.577 1332.765 1040.5720000000001 1440 1032.108' fill='%23113356'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

    #footerDiv div {
        height: 30px;
    }

/*********Extras************/
.btnEdit {
    background: rgb(236, 236, 236);
    border-radius: 5px;
    padding: 2.5px 10px;
    transition: background-color 0.3s;
    border: 1px solid #c4c4c4;
}

/* Topbar */
.topnav {
    height: 60px;
    padding: 10px;
}

    .topnav a {
        float: left;
        display: block;
        color: #82bbf9;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #0E2A47;
            color: white;
        }

    .topnav .login-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 120px;
    }

    .topnav .login-container button {
        float: right;
        padding: 6px 10px;
        color: white;
        font-size: 17px;
        border: none;
        cursor: pointer;
        height: 45px;
    }

        .topnav .login-container button:hover {
            background-color: #24c148;
        }

@media screen and (max-width: 600px) {
    .topnav .login-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .login-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/****************Login Modal***************/

.tab-style {
    font-size: 20px;
    width: 50%;
    background-color: #f2f2f2;
    text-align: center;
    border-bottom: 3px solid #0080ff;
    padding: 10px;
}

.nav-tabs > li > a {
    margin-right: 0px;
    color: grey;
}

    .nav-tabs > li > a.active {
        color: #4a89dc;
    }


.group2 {
    position: relative;
    margin-top: 16px;
}

.btn-block {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}


.login-shadow {
    -webkit-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
    -moz-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
    box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
    z-index: 1;
}

.signup-shadow {
    -webkit-box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
    -moz-box-shadow: -5px -5px 6px 0px rgba(82,82,82,0.52);
    box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
}


.modal-header {
    background-color: #e5ecf4;
}

.group {
    position: relative;
    margin-top: 20px;
}

.group3 {
    position: relative;
    margin-top: 40px !important;
}

.input {
    font-size: 16px;
    padding: 6px 10px 6px 5px;
    -webkit-appearance: none;
    display: block;
    background: none;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

    .input:focus {
        outline: none;
    }


/* Label */

.label {
    color: #757575;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

.input:focus ~ .label, .input.used ~ .label {
    top: -20px;
    transform: scale(.75);
    left: -15px;
    /* font-size: 14px; */
    color: #4a89dc;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #4a89dc;
        transition: all 0.2s ease;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }


/* active */

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
}


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

.input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}


@media screen and (max-width: 767px) and (min-width: 576px) {
    #myModal {
        margin-left: 20%;
        margin-right: 20%;
    }

    #forgot-password {
        margin-left: 20%;
        margin-right: 20%;
    }
}


@media screen and (min-width: 768px) {


    .modal-body {
        padding-left: 50px;
        padding-right: 50px;
    }
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #636363;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
    border-bottom: 1px solid #757575;
}
    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }
/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: 0.25em;
    overflow: hidden;
}
    /* Arrow */
    .select::after {
        content: "\25BC";
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.6em;
        background-color: #f3f5f7;
        transition: 0.25s all ease;
        pointer-events: none;
        color: #757575;
    }
    /* Transition */
    .select:hover::after {
        color: #f39c12;
    }

.brdr {
    border-bottom: 1px solid red;
}

.emptyIcon {
    font-size: 55px;
    color: #a3a3a3;
    margin-bottom: 22px;
}